<!DOCTYPE html>
<html>
<head>
    <title>Configuración de Detección de Componentes</title>
</head>
<body>
    <h1>Configurar Imagen de Referencia</h1>
    <form action="/upload_reference" method="post" enctype="multipart/form-data">
        <label>Imagen de referencia:</label><input type="file" name="referencia" accept="image/jpeg,image/png"><br><br>
        <input type="submit" value="Subir Referencia">
    </form>
    <br><a href="/results">Ver Resultados en Tiempo Real</a>
</body>
</html>